<a href="https://colab.research.google.com/github/murffps/machine-learning-titanic/blob/main/tutorial1_titanicplusdemoml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###### Project Introduction ########

MATURITY OR EACH STEP MATURITY 
COMPLEXITY 
COST RATIO 
TIME ESTIMATE 

Titanic Data Prediction with Classification Supervised Learning : 

*   Prediction label for an individual as "survived" or "died"

*    take passenger/trip information and predict whether that passenger would survive:  

*   Is this a good ML question for good data for ML ? Why ? Why not? initial assumptions.
how to properly document this 
Cost Time trade offs  princples estimate
Business value ROI 
Success how to measure given the above https://github.com/mattharrison/ml_pocket_reference/blob/master/ch03.ipynb 

many diff sets of steps - pick one

Algebreic Representation of Intent to create a function 
 y = f(x) to turn a feature into a label 
 x is a matrix, every column in x is a feature 
 the output y is a vector that contains labels(or targets) (classification uses labels or regression would use values)

The CRoss Industry Standard Process for Data Mining (CRISP-DM) is a process model that serves as the base for a data science process. It has six sequential phases:

Business understanding – What does the business need?
Data understanding – What data do we have / need? Is it clean?
Data preparation – How do we organize the data for modeling?
Modeling – What modeling techniques should we apply?
Evaluation – Which model best meets the business objectives?
Deployment – How do stakeholders access the results?
Published in 1999 to standardize data mining processes across industries, it has since become the most common methodology for data mining, analytics, and data science projects.

Data science teams that combine a loose implementation of CRISP-DM with overarching team-based agile project management approaches will likely see the best results.

SOURCES:
https://www.datascience-pm.com/crisp-dm-2/


https://web.archive.org/web/20220401041957/https://www.the-modeling-agency.com/crisp-dm.pdf


https://www.oreilly.com/library/view/machine-learning-pocket/9781492047537/
Book sections
Introduction
Overview of the Machine Learning Processing
Classification Walkthrough: Titanic Dataset
Missing Data
Cleaning Data
Exploring
Preprocess Data
Feature Selection
Imbalanced Classes
Classification
Model Selection
Metrics and Classification Evaluation
Explaining Models
Regression
Metrics and Regression Evaluation
Explaining Regression Models
Dimensionality Reduction
Clustering
Pipelines


Data set - blip and reason for choice




- 
Libs info:
pandasai - bascially the same thing but can use BARD and other gpt tools to also write code and ask questions 
data types : 

# KEY information 
# matplotlib
# pandas - as pd - 
- work with data operatios for manipulate, remove columns imort into row collumn tables view tiop section with head()
A pandas Series is a one-dimensional array of indexed data. In a Series and most other objects in Python the 0 counts. So, inside most data sets the 0 will actually map to 1.??
- look for pandas friendly data types to store data--> int64 float64 datetime64[ns] object (combination of string and other). 
- pandas will try to coerce data and fall back to object, convert date and strings to numeric or feature engineer one. (cardinality h/l and dummy columns?)
# sklearn 
# yellowbrick
nltk NLTK is for text mining and natural language processing. not used here 

numpy NumPy Tools and or techniques including the high-performance multidimensional array object that is a powerful data structure for efficient computation of arrays and matrices.An array is a collection of elements of the same data type. The word axis is singular and axes is plural. AXIS 1 horzontal(along he columns)  axis 0 down the rows 
Dimensions
shape

Array Manipulation perations
choose over pandas?

# Exploratory Data analysis - purpose - ML principles 
- tools and techniques  

libs 
seaborn 
ydata_profiling


# ML statisticvs or math scientific models libs 
# data frames working with tables and row columns 
---
Statistics Vocabulary  - there is overlap from several industries here. 
standardizing
normalizing 

Machine Learning or Data Related Definitions 
leaky features [info that are not available for new data yet or cheating by giving data to the model]

Training data is the data used to predict the target variable. 
That thing or column we are trying to predict is called a target variable. 


# # not used yet 
sympy - math stuff

notebooks tools
pip
colab

In [ ]:
# create requirements.txt with required python code packages
%%writefile requirements.txt
matplotlib
pandas
sklearn 
yellowbrick

Writing requirements.txt

In [ ]:
# install 
!pip install -r requirements.txt
!pip install gwpy --quiet #supposed to supress logs
# pip install pandasai

In [ ]:
# import tools and libraries
import matplotlib.pyplot as plt
# When we use the `as` keyword we are creating an alias. It's just a way to reference our library more simply to have less text on the screen for short. 
import pandas as pd
from sklearn import (ensemble, preprocessing,tree)
from sklearn.metrics import (auc, confusion_matrix, roc_auc_score, roc_curve)
from sklearn.model_selection import (train_test_split, StratifiedKFold)
from yellowbrick.classifier import (ConfusionMatrix, ROCAUC)
from yellowbrick.model_selection import (LearningCurve)
# nice way to use profiling in colab notebooks 
import sys 
!{sys.executable} -m pip install -U ydata-profiling[notebook]
!jupyter nbextension enable --py widgetsnbextension
# https://ydata-profiling.ydata.ai/docs/master/pages/getting_started/installation.html
from ydata_profiling import ProfileReport
import IPython


# Machine Learning Process


I. Business Understanding
TDSP (Team Data Science Process): 2 steps also taken 

  Data Acquisition & Understanding (Knowledge Information Patterns)

  Security 
  After  evaulatio Customer Acceptance

  ML WORKFLOW STEPS 
Gather
clean 
Create feautres
normlaize 

sample data
testing data
training data
create model 
evaluate model - possible change question
deploy model
---
Data 
There are two primary types of numerical data: discrete and continuous data.
- continuous refers to data that can be measured.
- discrete also referred to as discrete values, is data that only takes certain values. Commonly in the form of whole numbers or integers, this is data that can be counted and has a finite number of values. These values must be able to fall within certain classifications and are unable to be broken down into smaller parts.
median vs mode vs mean 

---
Data Survey aka Data Analysis or Exploratory - strategy to determine natrue of data, readiness and quality for use, data sourcesm(strucutre unstructured) help plan for model selection
exploratory methods and analytical
Understanding data types
- seems knowing models help knowing your libraries and how they handle data types 
possible consult SME can help to know what to do in case of help on nature of your data 
assumptions, questions 
time frame estimates avalue proposition on data.. (bad data in bad output) what is possible with this data 
Profile report 
extended advacned grapging with seaborn - 
basically this step is setting up the need and stuff for the steps below
estimating and validating ROI for 100 ML model use cases with feedback loop mechanisms post model deployment, than successfully deploying 1 ML model to production.
GATHER or GET  DATA
(Data Engineering raw data plus future pipelines)

Preprocees?
Data Preparation and Cleaning (Data Wrangling?) see reverse engineer data wraning tools on aws maybe for additional steps or process define refine

PRINCIPLE: 
APPLICATION:
VALUE TIE IN:

1. Missing Values - 
  stratgies - use count for checking for missing data - only includes values not NaN 
2. Duplicate and Low Varation Data
3. Incorrect & Irrelevant Data
4. Categorical Data
5. Outliers
- Leaky data 
6. Feature Scaling 
7. Feature Engineering/Selection 
model selection
8. Validation Split 
metrics / evaluation - classificaiton or regression

examples : 
using ML techniques for regression 
- dimensionality reduction 
- clustering 
- pipelines

In [ ]:
# GATHER or GET  DATA - load an excel file 
url = ("https://biostat.app.vumc.org/wiki/pub/Main/DataSets/titanic3.xls")
# create a data frame (matrix of data) with column labels 
# (as opposed to numpy array)
df = pd.read_excel(url) 
orig_df = df

Data Source The Titanic dataset is available on the Kaggle website. It is a free dataset that can be used for personal or commercial purposes.
Strucutrre unstructed

In [ ]:
# inspect #rows columns and make initial predictions thoughts like a playbook so to speak 
df.shape

(1309, 14)


Features aka Columns 
```
Survived: A binary variable indicating whether the passenger survived or died.
Pclass: The passenger's class, with 1 being first class, 2 being second class, and 3 being third class.
Name: The passenger's name.
Sex: The passenger's gender.
Age: The passenger's age.
SibSp: The number of siblings or spouses the passenger had on board.
Parch: The number of parents or children the passenger had on board.
Ticket: The passenger's ticket number.
Fare: The passenger's fare.
Cabin: The passenger's cabin number.
Embarked: The port where the passenger embarked, with C being Cherbourg, Q being Queenstown, and S being Southampton.
```
Initial Value Estimates
Trouble Spots 
Target 
Data Types 
Questions 
assumptions

Data Features

In [ ]:
# snapshot & summary stats
df.describe().iloc[:, :2]

            pclass     survived
count  1309.000000  1309.000000
mean      2.294882     0.381971
std       0.837836     0.486055
min       1.000000     0.000000
25%       2.000000     0.000000
50%       3.000000     0.000000
75%       3.000000     1.000000
max       3.000000     1.000000

In [ ]:
# check for type of values we mostly want integer or float for now
df.dtypes

# conclusion, therefor what
# why are all these objects? what does that mean? how to deal with?
# name          object
# sex           object
# ticket        object
# cabin         object
# embarked      object
# boat          object
# home.dest     object

In [ ]:
# analyze or spot check data for proper format  
df.isnull().sum() # one way to get a count of missing data in each column

In [ ]:
# by default apply axis 0 means along the index - percentage of null values 
# axis one if you want each sample or along columns 
df.isnull().sum(axis=1).loc[:10]

In [ ]:
# get the percentage of null values 
# TIP python treats True and False as 1 and 0 so this shows % of missing data
df.isnull().mean() * 100

In [ ]:
#  inspect at rows with missing data by using a Boolean array 
mask = df.isnull().any(axis=1)
mask.head()  # rows
# data.columns = data.columns.str.strip() handle white space 
#conclusions:

In [ ]:
df[mask].body.head()

In [ ]:
# f. profile data 
profile = ProfileReport(df, title="titanic data set", html={'style' : {'full_width':True}})
profile.to_file(output_file="file.html")
# View HTML profile report
IPython.display.HTML(filename='/content/file.html')

In [ ]:
# name = df.name
# name.head(3)
# ? more inspecting priper to drop this one?

In [ ]:
# Further inspect data with advanced box plot or histogram to spot outliers wit seaborn (matplotlib ++ or something) 
#  what needs to meet outside of the profile report ? 
# Findings from Profile Report ✨ finding issues vs trends suspicions... 
# ready to move on to cleaning ? when ...
#, NA or missing data, outliers, leaky features

In [ ]:
# Evaluating the "spread" of the data considering:
#  variance - the average of the squared differences from the 
  #mean SYMBOL here
# standard deviation  
# covariance 
# correlation

# Handle Outliers(check min/max, ) seems like the most common sense while in the graphs plots before the code ones 
# box and whiskers 
# https://www.udemy.com/course/data-science-and-machine-learning-with-python-hands-on/learn/lecture/4020118?start=315#overview

In [ ]:
# CLEAN (vs PREPARE? is prepare after import or import a certain way ) STEPS or even OR Data Wrangling 
# Normalize ("preprocess")
# Standardize - translate the data so that it has a mean value of 0 and a standard deviation of 1 (helps for scaling)

In [ ]:
# Identify missing data # (check for NaN, null) 
# Examine - profile gives good intel or we could use missingno

# Handle Missing Data unless 
#: ...XGBoost some like these can handle with missing data ? how what value pro con

# age has 263 (20.1%) missing values - strategy to handle  
# cabin has 1014 (77.5%) missing values	- strategy to handle  
# boat has 823 (62.9%) missing values	- strategy to handle  - drop why impute why - S why .. goal - dummy columns 
# body has 1188 (90.8%) missing values - strategy to handle  
# home.dest has 564 (43.1%) missing values - strategy to handle

In [ ]:
# a. impute -  using alternative values in place of missing data. OR to replace
# sibsp has 891 (68.1%) zeros	 0's is bad data
# parch has 1002 (76.5%) zeros	
# fare has 17 (1.3%) zeros

In [ ]:
# d. use pandas to create dummy columns with all 0s 
df = pd.get_dummies(df)
df.columns

In [ ]:
# e. drop them -- One possible strategy is to drop columns with 
     # reasons for dropping: no variance or signal or perfect or very high positive or negative correlation
     # # c. Use S the most common to  
     
# age (interpolate values), 
# cabin
# boat - dtype not supported issues 
# body missing data in many rows and leaks data (gives survived or deceased)
df = df.drop(
    columns=[
        "name",
        "ticket",
        "home.dest",
        "boat",
        "body",  
        "cabin" 
    ]) 

df.sex.value_counts(dropna=False)
df.embarked.value_counts(dropna=False)
df = df.drop(columns="sex_male")
# OR df = pd.get_dummies(df, drop_first=True)
df.columns
y = df.survived
X = df.drop(columns="survived")

seems like prior to leaving do a new report on the cleaned data as a test? or write tests

In [ ]:
## CREATE FEATURES

Feature engineering

Training / Sample

In [ ]:
## SAMPLE DATA, TRAIN goal to generalize to new data well
# randomly divide dataset into training (train and optimize )and test (to evalute)

# - pull out 30% 
# X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.3, random_state=42)
#cross validation in orddr to help assure the final run on the test will be the best it can be 


#not working NameError: name 'model_selection' is not defined


# Impute missing values for age on training set 
# clean training set now ?

Model Selection 
for this data set reason choices 
best suited for 
options

In [ ]:
# Evaluate Model 
3 core metrics 

Hyperparameter tuning
Prediction.
# Confusion Matrix